body {
  background-color: #000;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #000;
  margin: 0;
  padding: 0;
}



.heading {
  background-color: #333333;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}

.title {
  background-color: #333333;
  padding: 5px;
  color: black;
}

#runtime {
  background-color: #333333;
  color: #3e8fde;
  padding: 0px 0px 5px 5px;
}

.content {
  color: #3e8fde;
}

#subtitle {
  color: white;
  margin-left: 55px;
}

#showing {
  margin-left: 20px;
}

#films li::before {
  content: "";
  font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.film {
  font-size: 16px;
  text-transform: uppercase;
  border: #333333;
}

.sold-out {
  color: lightgray;
}

img {
  max-width: 25vw;
}

#film-info {
  padding-bottom: 15px;
}
